section:not(.headboard) {
    opacity: 0;
    transition: all 1000ms ease;
}

.title--small {
    opacity: 0;
    transition: all 100ms ease;
}

img:not(.logo),
.btn:not(.btn-menu) {
    opacity: 0;
    transition: all 2000ms ease;
}

.brand-img {
    opacity: 0;
    transition: all 1000ms ease;
}

.title--small.active {
    opacity: 1;
}

section.active,
img.active,
.btn.active {
    opacity: 1;
}