// variables
$black: #131515;
$white: #fcfcfc;
$white-gray: rgb(247, 247, 247);
$white-bckg: #eeeeee;
$gray: #8b8b8bcc;
$gray-clear: #868784;
$gray-dark: #4a4a4a;
$blue: #06f;
$purple: #8c3bba;
$purple-dark: #8b05d8;
$purple-light: #ac4dff;
$pink: #F21884;
$green: #67b54b;
$green-clear: #a1d686;
$green-dark: #003135;
$green-bright: #96d178;
$yellow: #f9da73;
$gradient: linear-gradient(to right, #743ad5, #d53a9d);

// elements
.btn {
    display: inline-block;
    align-items: center;
    padding: 0.75em 1em;
    text-decoration: none;
    background-color: $blue;
    color: $white;
    border-radius: 0.50em;
    transition: all 350ms ease;

    &-transparent {
        border: 2px solid $blue;
        background-color: transparent;
        color: $blue;
    }

    &:hover {
        box-shadow: 0px 0px 6px rgb(173, 173, 173);
    }
}

.btn-inline {
    display: inline-block;
    color: $white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: $gradient;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    &:hover {
        color: $white-gray;
        cursor: pointer;
    }
}

.title {
    margin-bottom: 0;
    text-align: center;
    color: $white;
    font-size: 28px;
    //font-family: 'Alegreya', serif;
    font-weight: 600;

    &--small {
        @extend .title;
        font-size: 24px;
    }

    &--purple {
        @extend .title;
        color: $purple-light;
    }
}

.subtitle {
    color: $white;
    font-size: 24px;
}

.paragraph {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

    &--big {
        @extend .paragraph;
        font-size: 22px;
    }

    &--bold {
        @extend .paragraph;
        font-weight: 650;
    }
}