/* Large devices (laptops, 992px and dowm) */
@media only screen and (max-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and dowm) */
@media only screen and (max-width: 768px) {
    body {
        main {
            .banner {
                .container {
                    flex-direction: column;
                    align-items: center;
                    margin: 0 auto;

                    .description {
                        width: 90%;
                        margin: 0 auto;

                        .title {
                            margin-top: 0em;
                            margin-bottom: 1em;
                            font-size: 35px;
                            width: 100%;
                            text-align: center;
                        }

                        .paragraph {
                            margin-top: 0;
                            margin-bottom: 2em;
                            width: 100%;
                            text-align: center;
                        }

                        .containerButton {
                            justify-content: center;
                        }
                    }

                    .thumb {
                        width: 75%;
                        margin-top: 3em;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .departments {
                .container-department {
                    flex-direction: column;
                }

                .btn--container {
                    width: 50%;
                }
            }

            .categories {
                padding-top: 2.5em;

                .container {

                    .container-category {
                        flex-wrap: wrap;

                        .category {
                            width: 44%;
                            margin: 2.5% 0;
                        }
                    }
                }
            }

            .benefits {
                padding-top: 2.5em;

                .container {
                    flex-wrap: wrap;

                    .benefit {
                        width: 100%;
                    }
                }
            }

            .carrousel {
                padding-top: 2.5em;

                .carrousel__container {
                    width: 80%;
                }
            }
        }

        footer {
            .social-media {
                padding: 2.5em 0em 0em 0em;

                .title {
                    margin-bottom: 1em;
                }

                .container {
                    flex-wrap: wrap;
                    align-items: center;
                }

                .copyright {
                    margin-top: 3.5em;
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .title--small {
        font-size: 28px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        main {
            .banner {
                .container {
                    padding-top: 5rem;
                    padding-bottom: 0;

                    .description {
                        .btn-learn, .btn-whatsapp {
                            font-size: 16px;
                        }
                    }


                    .thumb {
                        width: 65%;
                        margin-top: 3em;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .departments {
                .btn--container {
                    width: 60%;
                }
            }

            .departments, .categories, .benefits, .gallery {
                padding: 0;
                margin-top: 7.5rem;
            }
        }

        footer {
            .contact {
                .form {
                    width: 90%;
                    padding: 0;
    
                    input {
                        font-size: 16px;
                        display: block;
                    }
    
                    input[type="text"],
                    input[type="email"],
                    textarea {
                        width: 90%;
                        margin: 0 auto;
                        margin-bottom: 1em;
                        border-radius: 0.15em;
                    }
    
                    textarea {
                        font-size: 16px;
                        max-width: 90%;
                        min-width: 90%;
                    }
                }
            }
        }
    }
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
    body {
        header {
            .headboard {
                padding: 1rem 0;

                .container {

                    .title {
                        margin-top: 0em;
                        margin-bottom: 0.5em;
                        text-align: center;
                    }

                    .menuBar {
                        flex-direction: column;
                        align-items: center;
                        row-gap: 1rem;

                        .menu {
                            width: 100%;

                            .btn-menu {
                                margin: 0 auto;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        main {
            .departments {
                .container-department {
                    // flex-direction: column;
                }

                .btn--container {
                    width: 75%;
                }
            }

            .categories {
                padding-top: 2.5em;

                .container {

                    .container-category {
                        flex-wrap: wrap;

                        .category {
                            width: 75%;
                            margin: 2.5% auto;
                        }
                    }
                }
            }

            .gallery {
    
                img {
                    width: 75%;
                }
            }

            .departments, .categories, .benefits, .gallery {
                padding: 0;
                margin-top: 5rem;
            }
        }
    }
}