.btn, body header .headboard .container .menuBar .menu .btn-menu, .btn--transparent {
  display: inline-block;
  align-items: center;
  padding: 0.75em 1em;
  text-decoration: none;
  background-color: #06f;
  color: #fcfcfc;
  border-radius: 0.5em;
  transition: all 350ms ease;
}
.btn--transparent {
  border: 2px solid #06f;
  background-color: transparent;
  color: #06f;
}
.btn:hover, body header .headboard .container .menuBar .menu .btn-menu:hover, .btn--transparent:hover {
  box-shadow: 0px 0px 6px rgb(56, 56, 56);
  background-color: rgb(16, 75, 163);
}

.btn--inline {
  display: inline-block;
  color: #06f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s ease;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-color: #06f;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.btn--inline:hover {
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.title, .title--purple, .title--small {
  margin-bottom: 0;
  text-align: center;
  color: #fcfcfc;
  font-size: 56px;
  font-weight: 900;
}
.title--small {
  font-size: 42px;
  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.title--purple {
  color: #ac4dff;
}

.subtitle, .subtitle--blue {
  display: inline-block;
  color: #fcfcfc;
  font-size: 20px;
}
.subtitle--blue {
  color: #06f;
  font-size: 16px;
  padding-bottom: 0.25rem;
  border: 2px rgba(0, 102, 255, 0.5) solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

.paragraph, .paragraph--bold, .paragraph--big {
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.paragraph--big {
  font-size: 22px;
}
.paragraph--bold {
  font-weight: 650;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  font-size: 16px;
  background-color: #131515;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
body header .headboard {
  display: flex;
  width: 100%;
  background-color: black;
  box-shadow: 0px 0.5px 10px rgb(18, 18, 18);
  z-index: 9;
  top: 0;
}
body header .headboard .container .menuBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}
body header .headboard .container .menuBar .logo {
  width: 90px;
}
body header .headboard .container .menuBar .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  border-style: none;
}
body header .headboard .container .menuBar .menu .btn-menu {
  font-weight: 700;
  transition: all 0.2s ease;
}
body header .headboard .container .menuBar .menu .btn-menu:hover {
  box-shadow: 0px 0px 3px 0px rgb(45, 129, 255);
  background-color: rgb(30, 95, 192);
}
body .gallery {
  width: 100%;
  text-align: center;
  padding: 5em 0em;
}
body .gallery img {
  width: 20em;
  vertical-align: top;
  margin: 1.25em;
  padding: 0.31em;
  border: 1px solid #1D1C1D;
  opacity: 0.5;
  transition: all 0.2s ease;
}
body .gallery img.active {
  border: 1px solid white;
  opacity: 1;
}
body .gallery .btn, body .gallery .btn--transparent, body .gallery header .headboard .container .menuBar .menu .btn-menu, body header .headboard .container .menuBar .menu .gallery .btn-menu {
  margin-top: 3rem;
}
body footer .social-media {
  padding: 4em 0em 2em 0em;
  height: -moz-max-content;
  height: max-content;
  background-color: black;
}
body footer .social-media .title, body footer .social-media .title--small, body footer .social-media .title--purple {
  font-size: 2em;
  margin-top: 0em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 2em;
  color: #fcfcfc;
  text-align: center;
}
body footer .social-media .container {
  display: flex;
  justify-content: center;
}
body footer .social-media .container a {
  color: #fcfcfc;
  text-align: center;
  width: 5em;
  display: block;
  padding: 1rem 0rem;
  border-radius: 3px;
  font-size: 30px;
  margin: 0 1.25em;
  transition: all 350ms ease;
}
body footer .social-media .container a:hover {
  background-color: #06f;
  color: #fcfcfc;
}
body footer .social-media .copyright {
  text-align: center;
  margin-top: 7em;
  font-size: 14px;
  color: #fcfcfc;
}

/* Medium devices (landscape tablets, 768px and dowm) */
@media only screen and (max-width: 768px) {
  body footer .social-media {
    padding: 2.5em 0em 0em 0em;
  }
  body footer .social-media .title, body footer .social-media .title--small, body footer .social-media .title--purple {
    margin-bottom: 1em;
  }
  body footer .social-media .container {
    flex-wrap: wrap;
    align-items: center;
  }
  body footer .social-media .copyright {
    margin-top: 3.5em;
  }
}
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title--small {
    font-size: 28px;
    width: 90%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  body header .headboard {
    padding: 1rem 0;
  }
  body header .headboard .container .title, body header .headboard .container .title--small, body header .headboard .container .title--purple {
    margin-top: 0em;
    margin-bottom: 0.5em;
    text-align: center;
  }
  body header .headboard .container .menuBar {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  body header .headboard .container .menuBar .menu {
    width: 100%;
  }
  body header .headboard .container .menuBar .menu .btn-menu {
    margin: 0 auto;
    font-size: 16px;
  }
  body .gallery {
    padding: 2.5rem 0;
  }
}/*# sourceMappingURL=gallery.css.map */